body {
  text-align: center;
  height: 100%;
  background: burlywood;
  font-family: Roboto, sans-serif;
}

h1 {
  font-size: 48px;
  font-family: 'Nunito', sans-serif;
}

h1 .cursive {
  font-family: 'Vibur', cursive;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 36px;
  margin-bottom: 20px;
  border: 5px solid black;
  padding: 10px 20px;
}

div {
  font-size: 36px;
}

div.startup-name {
  color: #478F00;
  font-size: 72px;
  font-family: 'Nunito', sans-serif;
}